@charset "UTF-8";

.toolbar {
  position: fixed;
  z-index: 999;

  .head {
    width: 70px;
    height: 70px;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
  }

}

.toolbar.leftTop {
  top: 20px;
  left: 20px;
}

.toolbar.leftBottom {
  bottom: 20px;
  left: 20px;
}

.toolbar.rightTop {
  top: 20px;
  right: 20px;
}

.toolbar.rightBottom {
  bottom: 20px;
  right: 20px;
}


.radioStyle {
  display: block;
  height: 30px;
  line-height: 30px;
}